NODE_ENV=development
WEB_PORT=3000
SERVER_PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/monorepo_boilerplate?schema=public
WEB_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001